bin/
lib/
nbproject/
!JMVC/H264Extension/build/linux/lib/
!JMVC/H264Extension/src/lib/
*.d.o
*.d.P
*.r.o
*.r.P
mem-comm-model/dist/
mem-comm-model/build/
mem-comm-model/outputs/
jmvc-msc/
!JMVC/H264Extension/src/lib/H264AVCEncoderLib/TestDefinitions.h
